@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');
/* 
* Light font-weight: 100
* Regular font-weight: 400
* Bold font-weight: 700
*/

:root {
  background-color: #0b0e10;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

/* Responsive container with 2 columns that are side by side on desktop and stacked on mobile */
.globeAndTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: '1200px';
  margin: 0 10%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .globeAndTextContainer {
    flex-direction: column-reverse;
  }
}
