.aboutUsContainer {
    max-width: 100vw;
    padding: 24vh 6vw 10vh 8vw;
    background: rgb(20, 20, 20);
}

.laptop {
    width: 100%;
    height: auto;
}

.aboutUsContent {
    width: 70%;
    max-width: 1000px;
    margin: auto;
    overflow: auto;
}

.aboutUs {
    width: 60%;
    float: left;
}

.aboutUs h1 {
    margin-bottom: 2.5vh;
}

.laptopImage {
    width: 25%;
    float: right;
    margin-bottom: 2vh;
}



@media only screen and (max-width: 768px) {

    .aboutUsContent {
        width: 80%;
    }

    .aboutUs {
        width: 100%;
        margin-bottom: 5vh;
    }

    .laptopImage {
        width: 100%;
    }
}