.aboutUsContainer {
    width: 100%;
    padding-top: 24vh;
    padding-bottom: 10vh;
    background: rgb(20, 20, 20);
}

.laptop {
    width: max(128px, 30%);
    height: auto;
    margin-left: 2.5vw;
    float: right;
}

.aboutUsContent {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.aboutUs h1 {
    margin-bottom: 2.5vh;
}

.aboutUs p {
    width: 60%;
}


@media only screen and (max-width: 768px) {
    .aboutUsContent {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .aboutUs p {
        width: 100%;
    }
}