footer {
    width: 100%;
    background-color: #414141;
}

footer div {
    padding: 4vh 0;
    text-align: center;
}

footer div a {
    padding: 0 1vw;
}

footer img {
    width: min(64px, 15vw);
    height: min(64px, 15vw);
    padding: 10px;
}