footer {
    width: 100%;
    background-color: black;
}

footer div {
    padding: 4vh 0;
    text-align: center;
}

footer div a {
    padding: 0 1vw;
}

footer img {
    width: min(64px, 15vw);
    height: min(64px, 15vw);
    padding: 10px;
}

svg {
    fill: white;
}

.icon {
    font-size: 2em;
    padding: 0 0.5em;
}