header {
    max-width: 100vw;
    padding: 14vh 6vw 4vh 6vw;
    background: rgb(20, 20, 20);
    display: flex;
}

header h1 {
    margin: auto;
}

.greyBackground {
    display: flex;
    justify-content: space-around;
    padding: 10vh 15vw;
    background-color: #414141;
}

.blackBackground {
    display: flex;
    justify-content: space-around;
    padding: 10vh 15vw;
    background-color: rgb(20, 20, 20);
}

.text {
    width: 60%;
}