header {
    max-width: 100vw;
    padding: 14vh 6vw 4vh 6vw;
    background: white;
    display: flex;
}

header h1 {
    margin: auto;
}

h2 {
    font-weight: bold;
}

.greyBackground {
    display: flex;
    justify-content: space-around;
    padding: 5vh 15vw;
    background-color: white;
}

.blackBackground {
    display: flex;
    justify-content: space-around;
    padding: 5vh 15vw;
    background-color:white;
}

.greyBackground p {
    font-size: 1rem;
}

.blackBackground p {
    font-size: 1rem;
}

.text {
    width: 60%;
}