.meetTheTeamContainer {
    max-width: 100vw;
    padding: 10vh 6vw 7vh 8vw;
    background-color: rgb(20, 20, 20);
    text-align: center;
}

.meetTheTeamTitle {
    text-align: center;
    color: white;
}

.teamPhotos {
    width: 70%;
    margin: auto;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5vh 0;
    align-items: center;
    justify-items: center;
}

.profile {
    width: 10vw;
    border-radius: 50%;
}

/* Mobile styles */

@media only screen and (max-width: 768px) {
    .meetTheTeamContainer {
        max-width: 100vw;
        padding-top: 10vh;
        padding-bottom: 7vh;
        background-color: rgb(20, 20, 20);
        text-align: center;
    }
    
    .meetTheTeamTitle {
        text-align: center;
        color: white;
        margin-bottom: 10%;
    }

    .teamPhotos {
        width: 100%;
        margin: auto;
        margin-top: 5vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5vh 10vw;
        align-items: center;
        justify-items: center;
    }

    .teamPhotos p {
        font-size: 18px;
    }

    .profile {
        width: 60%;
    }
}