.navbar{
    position: fixed;
    width: 100%;
    min-height: 10vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    padding: 2vh 2vw;
    z-index: 1;
    font-weight: bold;
  }

.logo img{
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
}

.navigation ul {
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    min-height: 6vh;
    justify-content: flex-end;
    align-items: center;
}

.navigation li {
    text-align: center;
    padding: 0vh 1vw;
    cursor: pointer;
    color: black;
}

.navigation li :hover {
    color: #FAD12A
}

.signup-button :hover {
    color: #FAD12A
}

.navigation a {
    font-size: 1rem;
}

.navigation li a {
    text-decoration: none;
    color: inherit;
}

.signup-button {
    padding: 1vh 2vw 1.5vh 2vw;
    border: 2px solid black;
    border-radius: 25px;
  }

