.navbar {
  position: fixed;
  width: 100vw;
  height: 15vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 100);
  z-index: 1;
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logo img {
  width: 80px;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .dropdown {
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  min-height: 6vh;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.navigation li {
  text-align: center;
  padding: 0vh 1vw;
  cursor: pointer;
  color: black;
  display: inline-block;
}

/*ToDo: fix navbar to make it link to sponsors*/

div a {
  text-decoration: none;
  /* color: white; */
  font-size: 20px;
  padding: 15px;
  display: inline-block;
}

.dropdown .screen:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 2vh 2vw 2vh 0vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  margin-left: -1vw;
}

.dropdown-content a {
  color: black;
  padding: 0px;
  text-decoration: none;
  display: block;
}

.navigation li :hover {
  color: #fad12a;
}

.signup-button :hover {
  color: #fad12a;
}

.navigation a {
  font-size: 1rem;
}

.navigation li a {
  text-decoration: none;
  color: inherit;
}

.signup-button {
  padding: 1vh 2vw 1.5vh 2vw;
  border: 2px solid;
  color: black;
  border-radius: 25px;
}

.hamburger {
  display: none;
}

.mobileHeader {
  display: none;
}

.mlh-banner {
  visibility: hidden;
}

.mobileWrapper {
  display: none;
  position: static;
  width: 100vw;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
  .logo {
    display: none;
  }

  .logoMobile {
    width: 1rem;
    padding-right: 0.5rem;
  }

  .navbar {
    background-color: #fad12a;
    color: black;
    position: relative;
  }

  .hamburger {
    display: block;
    margin-left: 10px;
    color: black;
  }
  .hamburger:hover {
    cursor: pointer;
  }

  .mlh-banner {
    margin-right: 10px;
  }

  .mobileHeader {
    display: block;
    color: black;
    font-size: 1.25rem;
    margin: auto;
  }

  .navigation.responsive {
    position: relative;
    display: block;
  }

  .navigation.responsive ul li {
    width: 100%;
    font-weight: normal;
  }

  .mobileWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation li :hover {
    color: #9e9e9e;
  }

  .navIconLinks {
    display: flex;
    flex-direction: row;
  }
}
