/* @import '../colourTheme.css'; */

.sponsorsContainer {
  min-height: 80vh;
  padding: 3vh 2vw 1vh 2vw;
  text-align: center;
  /* align-content: center; */
}

.sponsorsContainer h1 {
  margin-bottom: 5vh;
  margin-top: 7vh;
}

.sponsHeading {
  font-size: 3rem;
  font-weight: bold;
}

.sponsorTable {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 80%;
}

td {
  text-align: center;
  /* border: 5px solid black; */
}

.sponsLogo {
  max-width: 150px;
  border-radius: 50%;
  width: 20vw;
  margin-top: 3vw;
  margin-bottom: 1.5vw;
  transition: transform 0.5s;
}

.sponsName {
  font-size: 1.5rem;
}

.placeHolder {
  font-size: 1.5rem;
}

/* Spinner 5 starts here */
/* .spinner{
    animation: spinner 1s linear infinite;
    max-width: 100px;
    border-radius: 50%;
    width: 15vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    border: solid 13em #4DB6AC;
    border-right: solid 1.5em transparent;
    border-left: solid 1.5em transparent;
    border-radius: 100%;
    width: 0;
    height: 0;
} */

/* @keyframes spinner {
    transform: scale(1.2);
    0% {
    transform: scale(1.2);

        transform: rotate(0deg);
    }
    50% {
    transform: scale(1.2);

        transform: rotate(60deg)
    }
    100% {
    transform: scale(1.2);

        transform: rotate(360deg);
    }

} */
/* Spinner 5 ends here */

.placeHolder {
  display: inline-block;
  transition: transform 0.5s;
}

.diamondSponsor {
  padding-top: 2vh;
  width: 100%;
  margin-bottom: 8vh;
}
/* .diamondSponsor h1{
    color: var(--diamond-back);
} */
.diamondSponsor .sponsorTable .sponsLogo:hover {
  transform: scale(1.1);
  /* -webkit-border-radius: 10px;
    -moz-border-radius: 10px; */
  border-radius: 50%;
  /* -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67); */
  box-shadow: 0px 0px 30px 0px var(--diamond);
}
.diamondSponsor .sponsorTable .placeHolder:hover {
  transform: scale(1.1);
  /* -webkit-border-radius: 10px;
    -moz-border-radius: 10px; */
  border-radius: 25px;
  /* -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67); */
  box-shadow: 0px 0px 30px 0px var(--diamond);
}

.platinumSponsor {
  padding-top: 5vh;
  width: 100%;
  margin-bottom: 8vh;
}
/* .platinumSponsor h1{
    color: var(--platinum-back);
} */
.platinumSponsor .sponsorTable .sponsLogo:hover {
  transform: scale(1.1);
  /* -webkit-border-radius: 10px;
    -moz-border-radius: 10px; */
  border-radius: 50%;
  /* -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67); */
  box-shadow: 0px 0px 30px 0px var(--platinum);
}
.platinumSponsor .sponsorTable .placeHolder:hover {
  transform: scale(1.1);
  /* -webkit-border-radius: 10px;
    -moz-border-radius: 10px; */
  border-radius: 25px;
  /* -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67); */
  box-shadow: 0px 0px 30px 0px var(--platinum);
}

.goldSponsor {
  padding-top: 5vh;
  width: 100%;
  margin-bottom: 8vh;
}
/* .goldSponsor h1{
    color: var(--gold-back);
} */
.goldSponsor .sponsorTable .sponsLogo:hover {
  transform: scale(1.1);
  /* -webkit-border-radius: 10px;
    -moz-border-radius: 10px; */
  border-radius: 50%;
  /* -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67); */
  box-shadow: 0px 0px 30px 0px var(--gold-back);
}

.silverSponsor {
  padding-top: 5vh;
  width: 100%;
  margin-bottom: 8vh;
}
/* .silverSponsor h1{
    color: var(--silver-back);
} */
.silverSponsor .sponsorTable .sponsLogo:hover {
  transform: scale(1.1);
  /* -webkit-border-radius: 10px;
    -moz-border-radius: 10px; */
  border-radius: 50%;
  /* -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67); */
  box-shadow: 0px 0px 30px 0px var(--silver);
}

.separator {
  /* max-width: 75%; */
  margin: 12vh 30% 0 30%;
  border-radius: 5px;
  height: 2px;
  background-color: black;
  box-shadow: 0px 0px 2px 0px var(--silver);
}

.sponsorSection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
