.whatWeDoContainer {
    max-width: 100vw;
    padding: 6vh 6vw 7vh 8vw;
    background-color: #414141;
}

.whatWeDoContainer h1 {
    text-align: center;
    padding-bottom: 6vh;
}

.homeContent {
    width: 70%;
    margin: auto;
}

.whatWeDoPrograms {
    display: flex;
    justify-content: space-evenly;
}

.program {
    text-align: center;
}

.programImg {
    width: 15vw;
}