.whatWeDoContainer {
    max-width: 100vw;
    padding: 6vh 6vw 7vh 8vw;
    background-color: white;
}

.whatWeDoContainer h1 {
    text-align: center;
    padding-bottom: 6vh;
}

.homeContent {
    width: 80%;
    margin: auto;
}

.whatWeDoPrograms {
    overflow: auto;
}

.program {
    text-align: center;
    float: left;
    width: 33.33%;
    font-size: max(18px, 1.5vw);
}

.programImg {
    width: 15vw;
    margin-bottom: 2vw;
    transition: transform .5s;
}

.programImg:hover {
    transform: scale(1.1);
}

.programTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .homeContent, .whatWeDoPrograms {
        width: 100%;
    }

    .programImg {
        width: 15vw;
    }
    
    .program {
        width: 30%;
        text-align: center;
        display: block;
        font-size: 16px;
    }
}

@media only screen and (max-width: 620px) {
    .program {
        width: 100%;
    }

    .programImg {
        width: 50vw;
    }

    .program {
        margin-bottom: 5vh;
    }
}