:root {
    --primary-dark:#0C0742;
    --dark-purple:#130676;
    --galaxy-purple:#4844AE;
    --blue:#4177DD;
    --light-blue:#C5FEFF;
    --primary-white:#F3FFFF;
    --purple:#643F88;
    --diamond:#b9f2ff;
    --diamond-back:#90ebff;
    --platinum:#e5e4e2;
    --platinum-back:#dbc4e2;
    --gold:#ffe13a;
    --gold-back:#ffd700;
    --silver:#c0c0c0;
    --silver-back:#9c9c9c;
}
  