/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #fff; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Roundness of the scrollbar handle */
  border: 2px solid #f1f1f1; /* Padding around the scrollbar handle */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}